
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1482076490678'); /* IE9*/
  src: url('iconfont.eot?t=1482076490678#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1482076490678') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1482076490678') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1482076490678#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baidu:before { content: "\3487"; }

.icon-tianjia:before { content: "\e607"; }

.icon-iconfonthuidaodingbueps:before { content: "\e615"; }

.icon-search:before { content: "\e61d"; }

.icon-yonghu:before { content: "\e629"; }

